.navBar {
  display: flex;
  font-size: x-large;
  background-color: lavender;
  justify-content: space-between;
}

.navBar > ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBar > ul > li {
  padding: 0px 5rem;
}

.navBar h1 {
  padding: 0px 5rem;
}
